# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python/
env/
venv/
.ipynb_checkpoints/

# Jupyter Notebook
.ipynb_checkpoints/

# Data
data/*

# IDE specific files
.vscode/
.idea/

# Ignore macOS system files
.DS_Store